body {
	background-color: #696969;
}

nav,
footer {
	background-color: #ffd700;
}
/* Ivan's bullshit ->*/
.homeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
	width: 100%;
}

.welcomeText {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 400px;
}

.welcome {
	color: #696969;
	font-size: 100px;
	transition: 1s;
	cursor: no-drop;
	text-decoration: none;
}

.welcome:hover {
	color: black;
	transition: 1s;
}
